@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-poppins);
  --font-sans-serif: var(--font-bricolage-grotesque);
  --animate-fadeInOut: fadeInOut linear infinite;
}

@keyframes fadeInOut {
  0%,
  30%,
  100% {
    opacity: 0;
    filter: blur(8px);
  }

  5%,
  25% {
    opacity: 1;
    filter: blur(0);
  }
}
